package pages

templ AccordionPage() {
	<div class="p-4">
		<h1>Accordion</h1>
		<p>Click on the buttons to open the collapsible content.</p>
		<button class="accordion">Section 1</button>
		<div class="panel">
			<p>Lorem ipsum...</p>
		</div>
		<button class="accordion">Section 2</button>
		<div class="panel">
			<p>Lorem ipsum...</p>
		</div>
		<button class="accordion">Section 3</button>
		<div class="panel">
			<p>Lorem ipsum...</p>
		</div>
	</div>
}
